@inject UserManager<ApplicationUser> _userManager
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor;
@model ChangePasswordViewModel
@{
    var myp = _userManager.GetUserAsync(User).Result;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*@{
        ViewBag.Title = "MyProfile";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
        var temp = Request.Url.AbsoluteUri.ToString().ToLower();
        var a = string.Empty;
        var b = string.Empty;
        var c = string.Empty;


        if (temp.Contains("admin/myprofile"))
        {
            a = "Admin "; b = "/Admin/Admin";
        }
        else if (temp.Contains("admin/partners/myprofile"))
        {
            a = "Partner "; b = "/Admin/Partners";
        }
        else if (temp.Contains("admin/pending/myprofile"))
        {
            a = "Pending "; b = "/Admin/Pending";
        }
        else
        {
            a = "Client "; b = "/Admin/Clients";
        }


    }*@
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header" style="padding-bottom:0px !important">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Profile</h1>

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/Admin/dashboard"><i class="fas fa-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">My Profile</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-92">
                    <div class="card card-outline card-info">
                        <!-- /.card-header -->
                        <div class="card-body row">
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">User Id</label>
                                <div class="col-sm-9">
                                    <input type="hidden" id="id" value="@myp.Id">

                                    @myp.UserId
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-default bg-indigo-300 text-white " data-toggle="modal" data-target="#modal-profilepic">
                                    Change Picture
                                </button>
                                <a href="/admin/changepassword" class="btn bg-indigo-300 text-white ">
                                    Change Password
                                </a>

                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtemail" placeholder="Email" readonly value="@myp.Email">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Mobile</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtmobile" placeholder="Mobile" value="@myp.Mobile">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">First name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtFirstname" placeholder="First name" value="@myp.Firstname">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Last name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtlastname" placeholder="Last name" value="@myp.Lastname">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtaddress" placeholder="Address" value="@myp.Address">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Bank name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtbankname" placeholder="Bank name" value="@myp.BankName">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Bank Account</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtbankaccount" placeholder="Bank name" value="@myp.BankAccount">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">IFSC Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtIFSC" placeholder="IFSC Code" value="@myp.IfscCode">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                &nbsp; <label for="inputEmail3" class="col-form-label">Account holder name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtaccountholder" placeholder="Account holder name" value="@myp.AccountHolderName">
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">PAN</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtpan" placeholder="PAN" value="@myp.Pan">
                                </div>
                            </div>
                            @*<div class="form-group col-md-6 col-sm-12 col-xs-12">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Role</label>
            <div class="col-sm-9">

            </div>
        </div>*@
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">UPI Id</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="txtupi" placeholder="UPI Id" value="@myp.UpiId">
                                </div>
                            </div>

                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Created on</label>
                                <div class="col-sm-9">
                                    @myp.CreatedOn
                                </div>
                            </div>
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputPassword3" class="col-sm-3 col-form-label">Created By</label>
                                <div class="col-sm-9">
                                    @myp.CreatedBy Admin
                                </div>
                            </div>
                            @*<div class="form-group col-md-6 col-sm-12 col-xs-12">
            <label for="inputPassword3" class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-9">
                <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                    <input type="checkbox" class="custom-control-input" id="chkStatus" />
                    <label class="custom-control-label" for="chkStatus" id="chkstatuslabel">@((Convert.ToString(UserManager.GetUserAsync(User).Result.LockoutEnd) == "") ? "Active" : "Locked" )</label>
                </div>
            </div>
        </div>*@
                            <div class="form-group col-md-6 col-sm-12 col-xs-12">
                                <label for="inputEmail3" class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="button" id="btnSaveProfile" class="btn bg-indigo-300 text-white">Save</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card -->
                   
                </div>
                @await Html.PartialAsync("_AdminProfile")
            </div>
        </section>
    </div>
</div>

<div class="modal fade" id="modal-profilepic">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="admin" asp-action="profilepic" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Profile Pic</h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <input type="file" id="file1" name="formFile" />
                    </div>
                </div>
                <div class="alert alert-default-primary ml-2 mr-2">
                  <ol>
                      <li>Only .jpeg, .jpg, .png files are allowed to upload</li>
                      <li>Maximum size of file is 1MB</li>
                  </ol>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="submit" class="btn btn-success" id="btnProfilePic">Change Pic</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script type="text/javascript">
    $(document).ready(function () {

        var $select1 = $('#select1'),
            $select2 = $('#select2'),
            $options = $select2.find('option');

        $select1.on('change', function () {
            $select2.html($options.filter('[value="' + this.value + '"]'));
        }).trigger('change');

        if ($("#chkstatuslabel").text()=="Active") {
            $("#chkStatus").attr('checked', 'checked');
        }
        else {
            $("#chkStatus").removeAttr('checked');
        }

        var uid = '@_httpContextAccessor.HttpContext.Request.Query["id"]';

        $("#chkStatus").change(function (e) {
        if ($(this).is(':checked')) {
                $.ajax({

                    type: "GET",
                    url: "/Account/SetManualLock?uid="+uid+"&status=false",
                        async: false,
                            dataType: "json",
                                contentType: "application/json; charset=utf-8",
                                    data: { },
                success: function () {
                    $("#chkstatuslabel").text("Active");
                    toastr.success('User has been activated')
                },
                    error: function (a, b, c) {
                        toastr.error(a);
                    toastr.error('Error occurred'); return false;
                }

            });
        }
        else {
            $.ajax({

                type: "GET",
              url: "/Account/SetManualLock?uid="+uid+"&status=true",
                    async: false,
                        dataType: "json",
                            contentType: "application/json; charset=utf-8",
                                data: { },
                            success: function (data) {
                                $("#chkstatuslabel").text("Locked");
                                toastr.error('User has been locked')
                            },
                error: function (data) {
                    toastr.error(a);
                                toastr.error('Error occurred'); return false;
                            }

                });
        }

        });


         $("#btnProfilePic").click(function (event) {
             if ($('#file1').val() == '') {
                 toastr.error('No file selected for upload'); return false; event.preventDefault();
             }
            var formFile = new FormData();
            var file = $('#file1')[0];

             var s = file.files[0].type;
             if (!s.indexOf("image") == 0) {
                 toastr.error('Upload valid image file'); return false; event.preventDefault();
             }

          

         });

        $('[data-toggle="tooltip"]').tooltip();

        $("#btnSaveProfile").click(function() {
        
            var id = $("#id").val();
           var firstname = $("#txtFirstname").val();
            var lastname = $("#txtlastname").val();
            var mobile = $("#txtmobile").val();
            var address = $("#txtaddress").val();
            var BankName = $("#txtbankname").val();
            var ifsc = $("#txtIFSC").val();
            var accountholder = $("#txtaccountholder").val();
            var pan = $("#txtpan").val();
            var upi = $("#txtupi").val();
            var BankAccount = $("#txtbankaccount").val();
            var status = true;

            if (upi == "") { toastr.error("Upi required"); status = false; }
            if (pan == "") { toastr.error("Pan number required"); status = false; }
            if (accountholder == "") { toastr.error("Account holder name required"); status = false; }
            if (ifsc == "") { toastr.error("Ifsc required"); status = false; }
            if (BankAccount == "") { toastr.error("Bank account required"); status = false; }
            if (BankName == "") { toastr.error("BankName required"); status = false; }
            if (address == "") { toastr.error("Address required"); status = false; }
            if (isNaN(mobile)) { toastr.error("Mobile number not valid"); status = false; }
            if (mobile == "") { toastr.error("Mobile number required"); status = false; }
            if (lastname == "") { toastr.error("Lastname required"); status = false; }
            if (firstname == "") { toastr.error("Firstname required"); status = false; }


            if (status) {
                $.ajax({
                    type: "GET",
                    url: "/account/saveprofile",
                    async: false,
                    dataType: "text json",
                    contentType: "application/json;charset=utf-8",
                    data: {
                        "id": id, "firstname": firstname, "lastname": lastname, "mobile": mobile, "address": address, "BankName": BankName, "ifsc": ifsc, "accountholder": accountholder, "pan": pan, "upi": upi, "BankAccount": BankAccount
                    },
                    success: function (data) {

                        if (data == "success") {
                            toastr.success(data); window.location.reload(true);
                        }
                        else {
                            toastr.error(data);
                        }
                    },
                    error: function (a, b, c) {

                        toastr.error("Error occurred");
                    }
                });
            }
           
          
        });

    });
</script>