@model Bint.Models.InvestorDashboard
@using System.Data
@{
    var bsf = "0";
    Layout = "~/Views/Shared/_InvestorLayout.cshtml";
}

<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Investor Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/investor/dashboard"><i class="fas fa-home mr-2"></i>Home</a></li>
                            <li class="breadcrumb-item active">Investor Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="card card-outline card-info">
                                <div class="card-header">
                                    <h1 class="card-title">My Investments</h1>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-3">
                                    <table id="example1" class="table">
                                        <thead>
                                        <tr>
                                            <th>Plan</th>
                                            <th>Token</th>
                                            <th>Deposit</th>
                                            <th>Return</th>
                                            <th>Invested on</th>
                                            <th>Completed term</th>
                                            <th class="text-center"> Details</th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Gold</td>
                                            <td>BTK</td>
                                            <td>5000</td>
                                            <td>5500</td>

                                            <td>25/1/2021</td>
                                            <td>
                                                <div class="progress-group">
                                                    <span class="float-right"><b>2</b>/12</span>
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-danger rounded" style="width: 20%"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center"><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Diamond</td>
                                            <td>BGC</td>
                                            <td>5000</td>
                                            <td>10000</td>
                                            <td>20/1/2021</td>
                                            <td>
                                                <div class="progress-group">
                                                    <span class="float-right"><b>4</b>/12</span>
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-warning" style="width: 40%"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-center"><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Basic</td><td>BTK</td>
                                            <td>6000</td>
                                            <td>6600</td>
                                            
                                            <td>12/1/2021</td>
                                            <td>
                                                <div class="progress-group">
                                                    <span class="float-right"><b>7</b>/12</span>
                                                    <div class="progress progress-sm">
                                                        <div class="progress-bar bg-primary" style="width: 70%"></div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td class="text-center"><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Basic</td>
                                            <td>BTK</td>
                                            <td>6000</td>
                                            <td>6600</td>

                                            <td>12/1/2019</td>
                                            <td>
                                                <span class="badge badge-info">Processing</span>

                                            </td>
                                            <td class="text-center"><a href="#">View</a></td>
                                        </tr>
                                        <tr>
                                            <td>Silver</td>
                                            <td>BTK</td>
                                            <td>6000</td>
                                            <td>6600</td>

                                            <td>12/1/2019</td>
                                            <td>
                                                <span class="badge badge-success">Processed</span>
                                            </td>
                                            <td class="text-center"><a href="#">View</a></td>
                                        </tr>
                                        </tbody>
                                     
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                               
                                <span class="info-box-icon bg-info elevation-1">
                                    <a href="/investor/partners">
                                        <i class="fas fa-users"></i>
                                        </a>
                                </span>

                                    <div class="info-box-content">
                                        <a href="/investor/partners">
                                            <span class="info-box-text">Partners</span>
                                            <span class="info-box-number">
                                               @Model.userCount.PartnerCount

                                            </span>
                                        </a>
                                    </div>
                                    <!-- /.info-box-content -->
                               
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Eligible partners</span>
                                    <span class="info-box-number">
                                        4

                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Partner USD</span>
                                    <span class="info-box-number">
                                       @Model.TotalUSD

                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Partner BGC</span>
                                    <span class="info-box-number">
                                        @Model.TotalBGC

                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <!-- USERS LIST -->
                            <div class="card ">
                                <div class="card-header card-outline card-secondary">
                                    <h3 class="card-title">Latest Partners</h3>
                                    <div class="card-tools">
                                     
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <ul class="users-list clearfix">
                                        @foreach (var item in Model.userCount.PartnerList)
                                        {
                                            var temp = @item.Firstname + ' ' + @item.Lastname;
                                            if (temp.Length > 12)
                                                temp = temp.Substring(0, 12) + "...";

                                            <li>
                                                <a href="/account/userprofile/@item.Id">
                                                    <img src="@item.Profilepicture" alt="User Image">
                                                </a>
                                                <a class="users-list-name" href="/account/userprofile/@item.Id">
                                                    @temp
                                               <span class="users-list-date">@item.UserId</span>
                                                   </a>
                                            </li>
                                        }
                                        </ul>
                                    <!-- /.users-list -->
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <a href="/investor/partners">View All Partners</a>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!--/.card -->
                        </div>
                      
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h6 class="font-weight-semibold mb-0 mt-1">USD Request Payback</h6>
                                    <div class="text-muted mb-3"></div>
                                    <div class="svg-center position-relative mb-1" id="progress_percentage_one">
                                    </div>
                                </div>
                                <div class="card-body border-top-0 pt-0">
                                    @foreach (DataRow row in Model._payback.USDPaybackUser.Rows)
                                    {
                                        ViewData["bsf"] = Convert.ToString(@row["percentage"]);
                                        bsf = Convert.ToString(ViewData["bsf"]);

                                        <div class="row">
                                            <div class="col-4">
                                                <div class="text-uppercase font-size-xs text-muted">Total</div>
                                                <h5 class="font-weight-semibold line-height-1 mt-1 mb-0">@row["totalamount"]</h5>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-uppercase font-size-xs text-muted">Paid back</div>
                                                <h5 class="font-weight-semibold line-height-1 mt-1 mb-0">@row["paid"]</h5>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-uppercase font-size-xs text-muted">Pending</div>
                                                <h5 class="font-weight-semibold line-height-1 mt-1 mb-0">@row["pending"]</h5>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/. container-fluid -->
                @await Html.PartialAsync("_InvestorProfile")
            </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>
<!-- /.content-wrapper -->
<script>
    $(function() {
        $("#example1").DataTable();

        var areaChartData = {
            labels  : ['Mohan', 'Kala', 'Kumar', 'Shekhar', 'Arun', 'Soumya'],
            datasets: [
                {
                    label               : 'BGC',
                    backgroundColor: '#ef5350',
                    borderColor: '#ef5350',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : [28, 48, 40, 19, 86, 27, 90]
                },
                {
                    label               : 'USD',
                    backgroundColor: '#66bb6a',
                    borderColor: '#66bb6a',
                    pointRadius         : false,
                    pointColor          : 'rgba(210, 214, 222, 1)',
                    pointStrokeColor    : '#c1c7d1',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(220,220,220,1)',
                    data                : [65, 59, 80, 81, 56, 55, 40]
                }
            ]
        }
        var barChartData = jQuery.extend(true, {}, areaChartData);
        var temp0 = areaChartData.datasets[0];
        var temp1 = areaChartData.datasets[1];
        barChartData.datasets[0] = temp1;
        barChartData.datasets[1] = temp0;

        var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d');
        var stackedBarChartData = jQuery.extend(true, {}, barChartData);

        var stackedBarChartOptions = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                xAxes: [
                    {
                        stacked: true,
                    }
                ],
                yAxes: [
                    {
                        stacked: true
                    }
                ]
            }
        }

        var stackedBarChart = new Chart(stackedBarChartCanvas,
            {
                type: 'bar',
                data: stackedBarChartData,
                options: stackedBarChartOptions
            });
    });
    
</script>
<script>

    var StatisticWidgets = function () {


        var _progressPercentage = function (element, radius, border, foregroundColor, end) {
            if (typeof d3 == 'undefined') {
                console.warn('Warning - d3.min.js is not loaded.');
                return;
            }

            // Initialize chart only if element exsists in the DOM
            if (element) {


                // Basic setup
                // ------------------------------

                // Main variables
                var d3Container = d3.select(element),
                    startPercent = 0,
                    fontSize = 22,
                    endPercent = end,
                    twoPi = Math.PI * 2,
                    formatPercent = d3.format('.0%'),
                    boxSize = radius * 2;

                // Values count
                var count = Math.abs((endPercent - startPercent) / 0.01);

                // Values step
                var step = endPercent < startPercent ? -0.01 : 0.01;


                // Create chart
                // ------------------------------

                // Add SVG element
                var container = d3Container.append('svg');

                // Add SVG group
                var svg = container
                    .attr('width', boxSize)
                    .attr('height', boxSize)
                    .append('g')
                    .attr('transform', 'translate(' + radius + ',' + radius + ')');


                // Construct chart layout
                // ------------------------------

                // Arc
                var arc = d3.svg.arc()
                    .startAngle(0)
                    .innerRadius(radius)
                    .outerRadius(radius - border)
                    .cornerRadius(20);


                //
                // Append chart elements
                //

                // Paths
                // ------------------------------

                // Background path
                svg.append('path')
                    .attr('class', 'd3-progress-background')
                    .attr('d', arc.endAngle(twoPi))
                    .style('fill', foregroundColor)
                    .style('opacity', 0.1);

                // Foreground path
                var foreground = svg.append('path')
                    .attr('class', 'd3-progress-foreground')
                    .attr('filter', 'url(#blur)')
                    .style({
                        'fill': foregroundColor,
                        'stroke': foregroundColor
                    });

                // Front path
                var front = svg.append('path')
                    .attr('class', 'd3-progress-front')
                    .style({
                        'fill': foregroundColor,
                        'fill-opacity': 1
                    });


                // Text
                // ------------------------------

                // Percentage text value
                var numberText = svg
                    .append('text')
                    .attr('dx', 0)
                    .attr('dy', (fontSize / 2) - border)
                    .style({
                        'font-size': fontSize + 'px',
                        'line-height': 1,
                        'fill': foregroundColor,
                        'text-anchor': 'middle'
                    });


                // Animation
                // ------------------------------

                // Animate path
                function updateProgress(progress) {
                    foreground.attr('d', arc.endAngle(twoPi * progress));
                    front.attr('d', arc.endAngle(twoPi * progress));
                    numberText.text(formatPercent(progress));
                }

                // Animate text
                var progress = startPercent;
                (function loops() {
                    updateProgress(progress);
                    if (count > 0) {
                        count--;
                        progress += step;
                        setTimeout(loops, 10);
                    }
                })();
            }
        };


        //
        // Return objects assigned to module
        //

        return {
            init: function () {

                _progressPercentage('#progress_percentage_one', 46, 3, "#ec3f7a", @bsf);


            }
        }
    }();


    // Initialize module
    // ------------------------------

    // When content loaded
    document.addEventListener('DOMContentLoaded', function () {
        StatisticWidgets.init();
    });

</script>