@inject UserManager<ApplicationUser> _userManager
@{
    var u = @_userManager.GetUserAsync(User).Result;
    var ol = u.Kyc;
    var lol = "";
    if (ol == "Pending")
    {
        lol = "badge-warning";
    }
    else if (ol == "VerificationFailed")
    {
        lol = "badge-danger";
    }
    else if (ol == "Verified")
    {
        lol = "badge-success";
    }
    else
    {

    }
}
<style>
    .social-box {
        min-height: 90px;
        margin-bottom: 0.5rem;
        text-align: center;
        background: #fff;
    }

        .social-box.facebook span {
            color: #fff;
            background: #3b5998;
        }

        .social-box span {
            display: block;
            margin: -1px -1px 0;
            font-size: 40px;
            line-height: 90px;
            background: #e9ecef;
        }

        .social-box ul {
            display: contents;
            /*margin: 7px 0 0;*/
            /*padding: 10px;*/
            width: 100%;
            background-color: #f3efef;
        }

            .social-box ul li {
                color: black;
                font-size: 24px;
                padding: 0 10px 0 0;
                text-align: center;
                list-style: none;
                background-color: #f3efef;
                line-height: 40px;
                display: contents;
            }
</style>
<div class="col-md-3 ">
    <div class="card card-info card-outline">
        <div class="card-body box-profile">
            <span class="badge @lol">@u.Kyc</span>
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle userimagebig"
                     src="@u.ProfilePicture"
                     alt="User profile picture">
            </div>
            <h3 class="profile-username text-center">@u.Firstname @u.Lastname</h3>
            <p class="text-muted text-center">ID : @u.UserId</p>
            <p class="text-muted text-center pr-4">Admin ID : @u.CreatedBy&nbsp;&nbsp; &nbsp; </p>

            <a href="/Investor/myprofile" class="btn btn-info btn-block text-white"><b>Manage Profile</b></a>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <div class="card card-warning card-outline  ">
        <div class="card-header">
            <h1 class="card-title">USD Wallet</h1>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body box-profile">
            <!-- About Me Box -->
            <div class="social-box facebook">
                <span><i class="fa fa-dollar-sign"></i> @u.Usd</span>


            </div>
            <a href="/investor/usd" class="btn btn-warning btn-block text-white"><b>Manage Usd</b></a>
        </div>
    </div>

    <div class="card card-success card-outline ">
        <div class="card-header">
            <h1 class="card-title">BGC Wallet</h1>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body box-profile">
            <div class="social-box facebook">
                <span><i class="fab fa-btc"></i> @u.Bgc</span>
                <div style="background-color: #f3efef; line-height: 40px; padding-left: 22px;">1 Bgc = 0.001 Usd</div>

            </div>
            <a href="/investor/bgc" class="btn btn-success btn-block text-white"><b>Manage Bgc</b></a>
        </div>
    </div>

</div>